<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex,nofollow">


        <title>Home New-Instance</title>
        <link rel="icon" href="/img/logo/favicon.ico">
        
        <link rel="stylesheet" href="/css/empty.css">
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/grids-responsive-min.css">
        <link rel="stylesheet" href="/css/ionicons.min.css">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body class="no-theme">
        <div id="search-widget" class="pure-g h-box">
            
            <div id="logo" class="pure-u-1">
                <h1 href="javascript:location.replace('/')" class="pure-menu-heading">New-Instance</h1>
                <a href="javascript:location.replace('/bbs')">掲示板</a>
            </div>
            
            <div class="pure-u-1-4"></div>
            
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input id="searchbox" name="q" type="search" placeholder="検索" value="" title="検索" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" autofocus="">
                    </fieldset>
                </form>
            </div>
            
            <div class="pure-u-1-4"></div>
        </div>
        <script>
            $('#searchbox').autocomplete({
                source: function (request, response) {
                    {
                        var url = "/suggest?keyword=" + request.term
                        var xhr = new XMLHttpRequest();
                        xhr.open("GET", url);
                        xhr.onload = function() {
                            response(JSON.parse(xhr.responseText));
                        }
                        xhr.send();
                    }
                },delay:300
            });
        </script>
    </body>
</html>
