<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/js/utils/cookie.js"></script>
  </head>
  <body>
    <h1>設定 / Settings</h1>
    
    <div id="videos" class="content">
      <h3>検索・動画</h3>
      <div class="setting">
        
        <div id="use_history">
          <label>
            <input class="checkbox history" type="checkbox" checked>
            履歴機能
          </label>

          <button onclick="document.getElementById('use_history_advanced_settings').classList.toggle('hidden');">詳細設定</button>
          <div id="use_history_advanced_settings" class="hidden">

            <div id="use_search_history" class="history-advanced">
              <label>
                <input class="checkbox" type="checkbox" checked>
                検索履歴
              </label>
            </div>
            <div id="use_viewing_history" class="history-advanced">
              <label>
                <input class="checkbox" type="checkbox" checked>
                視聴履歴
              </label>
            </div>

          </div>

        </div>
      </div>
      <script>
        const now_cookie = new Cookie();

        const checkboxes = Array.from(document.getElementsByClassName('histroy-advanced'));

        checkboxes.forEach(function(checkbox){
          // todo: 関数化する
          now_cookie.set(this.closest('.history-advanced').id, checkbox.checked);
          checkbox.setAttribute('onclick', function(e){
            const now_cookie = new Cookie();
            now_cookie.set(this.closest('.history-advanced').id, checkbox.checked);
          })
        })
      </script>
    </div>
    
  </body>
</html>
