<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      .hidden {
        display: none;
      }
    </style>

  </head>
  <body>
    <div style="float: left;">
      <a href="location.replace('/')">ホーム</a>
      <a href="location.replace('/bbs')">BBS</a>
    </div>
    <h1>設定 / Settings</h1>
    
    <div id="videos" class="content">
      <h3>検索・動画</h3>
      <div class="setting">
        
        <div id="enable_history">
          <label>
            <input class="checkbox enable-history" type="checkbox" checked>
            履歴機能
          </label>

          <button onclick="document.getElementById('enable_history_advanced_settings').classList.toggle('hidden');">詳細設定</button>
          <div id="enable_history_advanced_settings" class="hidden">

            <div id="enable_history_search" class="history-advanced">
              <label>
                <input class="checkbox enable-history-settings history-advanced-setting" type="checkbox" checked>
                検索履歴
              </label>
            </div>
            <div id="enable_history_search" class="history-advanced">
              <label>
                <input class="checkbox enable-history-settings history-advanced-setting" type="checkbox" checked>
                視聴履歴
              </label>
            </div>

          </div>

        </div>
      </div>
      <script src="/js/localStorageInfo.js"></script>
      <script defer>
        /*
          localStorage
          
            settings(obj)
              | - history(obj)
                    | - enable(bool)
                    | - search(bool)
                    | - watch(bool)
              
            history(obj)
              | - search(arr)
              | - watch(arr)

            watchLater(arr)
        */

        setDefaultInfoToNoInfoLocalStorage()

        document.querySelector('#enable_history label input').addEventListener('change', function(e) {
          let settings_json = JSON.parse(localStorage.getItem('settings'));
          settings_json['history']['enable'] = this.checked;
          localStorage.setItem('settings', settings_json);
        })

        const enable_history_settings_elem = Array.from(document.getElementsByClassName('enable-history-settings'));
        enable_history_settings_elem.forEach(function(elem) {

          elem.addEventListener('change', function() {
            let settings_json = JSON.parse(localStorage.getItem('settings'))
            const setting_name = this.closest('div').id.match(/enable_history_(.+)/)[1];
            settings_json['history'][setting_name] = this.checked;
            localStorage.setItem('settings', settings_json);
          })

        })
        
      </script>
    </div>
    
  </body>
</html>
