<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="robots" content="noindex,nofollow">

        <title>連番を簡単に生成！！</title>

        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/grids-responsive-min.css">
        <link rel="stylesheet" href="/css/ionicons.min.css">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=thumb_up" />

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/js/utils/utils.js"></script>
    </head>
    <body class="no-theme">
        <span id="dark_mode_pref" style="display:none"></span>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-2-24"></div>
            <div id="contents" class="pure-u-1 pure-u-md-20-24">
                <div class="pure-g navbar h-box">
                    <div class="pure-u-1 pure-u-md-12-24 searchbar">
                        <a href="javascript:location.replace('/')">ホーム</a><br>
                        <a href="javascript:location.replace('/bbs')">掲示板</a>
                    
                        <form class="pure-form" action="/search" method="get">
                            <fieldset>
                                <input id="searchbox" name="q" type="search" placeholder="検索" value="" title="検索" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" >
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div id="player-container" class="h-box">
                    <video id="player" class="on-video_player video-js player-style-invidious" loadedmetadata="settime()" controls="" playsinline="" loop="" style="outline:none;width:100%;background-color:#000;" poster="{% if proxy == "True" %}/thumbnail?v={{ videoid }}{% else %}https://img.youtube.com/vi/{{ videoid }}/0.jpg{% endif %}">
                        {% for videourl in videourls%}
                        <source class="player-source" src="{{ videourl }}">
                        {% endfor %}
                        <p id="video_info">お使いのブラウザは動画の再生に対応していません。</p>
                    </video>
                </div>
                <div class="h-box">
                    <h1>{{ video_title }}</h1>
                    <p style="display: inline-block; margin-right: 10px; vertical-align: super;">{{ view_count }}回視聴</p>
                    <div style="display: inline-block;"><span class="material-symbols-outlined" style="display: inline-block; padding-right: 5px;">thumb_up</span><p style="display: inline-block; vertical-align: super; ">{{ like_count }}</p></div>

                    <p id="player_current_time" style="display: inline-block; margin-left: 10px; vertical-align: super;"></p>
                    <p style="display: inline-block; vertical-align: super;">/ {{ length_text }}</p>
                </div><br>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-lg-1-5">
                        <a href="{{ videourls[0] }}" download="{{ video_title }}">ダウンロード</a><br>
                        <a href="javascript:{navigator.share({title: '現時点の動画を共有', text: '{{ video_title }}', url: location.origin + '/watch?v={{ videoid }}' + '&t=' + Math.floor(document.getElementById('player').currentTime)})}">現時点の動画を共有</a><br>
                        <a href="javascript:{navigator.share({title: '動画を共有', text: '{{ video_title }}', url: location.href})}">動画を共有</a><br>
                        <hr>
                    </div>
                    <div class="pure-u-1 pure-u-lg-3-5">
                        <div class="h-box">
                                <a href="/channel/{{ author_id }}" style="display: inline-block; width: fit-content; width: -moz-fit-content">
                                    <div class="channel-profile">

                                        <img src="{{ author_icon }}">

                                        <span id="channel-name">{{ author }}</span>
                                    </div>
                                </a>
                                <p>チャンネル登録者数: {{ subscribers_count }}人</p>
                            <div id="description-box">
                                <div id="descriptionWrapper">{{ description | safe}}</div>
                            </div>
                            <hr>
                            <div id="comments"></div>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-lg-1-5">
                        <label for="autonextpage">自動で次の動画に遷移<input id="autonextpage" type="checkbox" onchange="changeAutoNextPage(this)"></label><br>
                        <label for="loop">ループ再生<input id="loop" type="checkbox" onchange="changeLoop(this)"></label>
                    
                        {% for rec_video in recommended_videos %}
                        <a href="/watch?v={{ rec_video['video_id'] }}">
                            <div class="thumbnail">
                                <img loading="lazy" class="thumbnail" src="{% if proxy == 'True' %}/thumbnail?v={{ rec_video['video_id'] }}{% else %}https://img.youtube.com/vi/{{ rec_video['video_id'] }}/0.jpg{% endif %}">
                                <p class="length">{{ rec_video["length_text"] }}</p>
                            </div>
                            <p style="width:100%;">{{ rec_video["title"] }}</p>
                        </a>
                        <p>{{ rec_video["view_count_text"] }}回視聴</p>
                        <a href="/channel/{{ rec_video['authorId'] }}">{{ rec_video["author"] }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-24"></div>
        
        <script>
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/comments?v=" + getQueryValue('v'));
            xhr.onload = function () {      
                if (xhr.status == 200) {
                    const comments_div = document.getElementById('comments');
                    comments_div.innerHTML = xhr.responseText;

                    const comments_a_tags = comments_div.getElementsByTagName('a');

                    for(let i = 0; i < comments_a_tags.length; i++) {
                        const jump_time = comments_a_tags[i].getAttribute('data-jump-time')

                        if(jump_time) {
                            comments_a_tags[i].addEventListener('click', function(e) {
                                e.preventDefault()
                                player.currentTime = jump_time;
                            })
                        }
                    }
                } else { 
                    document.getElementById('comments').innerHTML = "コメントの読み込みに失敗しました。再読み込み等をお試し下さい。"; 
                }
            };
            xhr.send();

            let player = document.getElementById("player");

            document.cookie = "yuki=True; path=/; max-age=10800;";
        

            const haveLoopCookie = getCookie("loop") === 'true' ? true : false;
            player.loop = haveLoopCookie;
            document.getElementById("loop").checked = haveLoopCookie;

            document.getElementById("autonextpage").checked = getCookie("autonextpage") === 'true' ? true : false;
            

            function changeAutoNextPage(checkbox) {      
                document.cookie =  `autonextpage=${checkbox.checked}; path=/; max-age=10800;`;
            }
            
            function autoNextPage() {
                const enable_autoNextPage = document.getElementById('autonextpage').checked;
                document.cookie = `autonextpage=${enable_autoNextPage}; max-age=10800;`;
                if (enable_autoNextPage) {
                    setTimeout(() => {
                        location.replace("/watch?v={{ recommended_videos[0]['video_id'] }}");
                    }, 5000)
                }
            }

            player.addEventListener('ended', autoNextPage)
            
            function changeLoop(checkbox) {      
                const enable_loop = checkbox.checked;
                document.getElementById("player").loop = enable_loop;
                document.cookie = `loop=${enable_loop}; path=/; max-age=10800;`;
            }
            
            /* function sleep(waitMsec) {      var startMsec = new Date();while (new Date() - startMsec < waitMsec);} */

            

            document.getElementById("player").currentTime = getQueryValue('t') || 0;
            
            function keydown(key) {                  
                if (key.keyCode == 32 || key.keyCode == 75) {
                    const v = document.getElementById("player");

                    if (v.paused === true) {
                        v.play();
                    } else {
                        v.pause();
                    }
                }
            }
        
            window.addEventListener('keydown', keydown);
        

            const description_a_tags = document.getElementById('descriptionWrapper').getElementsByTagName('a');
            for(let i = 0; i < description_a_tags.length; i++) {
                const jump_time = description_a_tags[i].getAttribute('data-jump-time')

                if(jump_time) {
                    description_a_tags[i].addEventListener('click', function(e) {
                        e.preventDefault()
                        player.currentTime = jump_time;
                    })
                }
            }

            player.style.maxHeight = document.documentElement.clientHeight * 0.8 + "px";

            let info = document.getElementById('video_info');

            let reload_button_elm = document.createElement('button');
            reload_button_elm.setAttribute('onclick', 'location.replace(location.href);');
            reload_button_elm.innerHTML = 'リロード';
            
            
            setTimeout(() => {
                if(player.networkState === 3){
                    let update_api_xhr = new XMLHttpRequest();
                    update_api_xhr.open("GET", "/api/video/next"); 
                    update_api_xhr.send();
                    
                    info.innerHTML = '動画の読み込みに失敗しました。再読み込み等をお試し下さい。<br>';
                    info.innerHTML += '過度な再読み込みはインスタンスに負荷がかかり、短期間で使用不能に陥ることや、動画等の読み込みが出来なくなることが考えられますのでご遠慮下さい。'
                    player.after(reload_button_elm)
                    player.after(info)
                    player.remove()
                }
            }, 1000);
            
            (function updateDisplayCurrentTime() {
                setTimeout(() => {
                    const player = document.getElementById('player');
                    const current_time_elem = document.getElementById('player_current_time')
                    if(player) {
                        current_time_elem.textContent = secToHMS(player.currentTime | 0);
                    } else {
                        current_time_elem.textContent = 'Error';
                    }
                    updateDisplayCurrentTime();
                }, 100);
            })();
        </script>
        <script>
            $('#searchbox').autocomplete({
                source: function (request, response) {      
                    {
                        const url = "/suggest?keyword=" + request.term;
                        const xhr = new XMLHttpRequest();
                        xhr.open("GET", url);
                        xhr.onload = function () {      
                            response(JSON.parse(xhr.responseText));
                        }
                        xhr.send();
                    }
                }, delay: 300
            });
        </script>
    </body>
</html>
